@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
head,
.card {
  cursor: pointer;
}
.hd {
  font-size: 25px;
  font-weight: 550;
}
.card.hover,
.card:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  background-color: aqua;
  transition: 0.6s;
  background-image: url(../img/bg.png);
  color: white;
}
.img {
  margin-bottom: 35px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.card-title {
  font-weight: 600;
}
button.focus,
button:focus {
  outline: 0;
  box-shadow: none !important;
}
.ft {
  margin-top: 25px;
}
.chk {
  margin-bottom: 5px;
}
.rck {
  margin-top: 20px;
  padding-bottom: 15px;
}
